In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from math import sqrt

In [2]:
df2 = pd.read_csv('original_df.csv')
df2

,name,age,overall,potential,position,pace,shooting,passing,dribbling,defending,physical,total_stats,value
0,Coutinho,29,82,82,CAM,69,79,80,88,52,59,2086,€30M
1,S. Botman,21,79,85,CB,60,36,59,61,80,84,1736,€25.5M
2,D. Vlahović,21,80,86,ST,75,82,60,74,28,77,1827,€34M
3,K. Trippier,30,84,84,RB,73,63,82,77,80,72,2183,€36.5M
4,J. Cajuste,21,72,79,CM,77,58,68,75,68,77,1930,€4.7M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,V. Ozornwafor,22,64,73,CB,60,36,41,39,64,68,1404,€1.2M
5996,B. Kramer,25,67,72,ST,73,65,54,64,36,74,1691,€1.5M
5997,B. Baggley,19,54,68,CAM,65,49,51,57,44,41,1456,€250K
5998,F. Tavares,20,61,73,ST,86,60,46,60,26,56,1488,€800K
5999,K. Joseph,19,61,76,ST,75,60,46,61,22,56,1468,€775K

In [3]:
#Split positions to categorical types

attack = ['ST','CF','LF','RF','RW','LW','CAM','SW']
midfield = ['CM','CDM','LM','RM']
defence = ['LB','LWB','CB','RB','RWB']

mask_attack = df2['position'].isin(attack).shift(0).fillna(False)
mask_midfield = df2['position'].isin(midfield).shift(0).fillna(False)
mask_defence = df2['position'].isin(defence).shift(0).fillna(False)
mask_goalkeeping = df2['position'].isin(['GK']).shift(0).fillna(False)

df2.loc[mask_attack, 'position']=4
df2.loc[mask_midfield, 'position']=3
df2.loc[mask_defence, 'position']=2
df2.loc[mask_goalkeeping, 'position']=1

In [4]:
#Change data-types to integers

df2['age'] = df2['age'].replace({}, regex=True).astype(float).astype(int)
df2['overall'] = df2['overall'].replace({}, regex=True).astype(float).astype(int)
df2['potential'] = df2['potential'].replace({}, regex=True).astype(float).astype(int)
df2['pace'] = df2['pace'].replace({}, regex=True).astype(float).astype(int)
df2['dribbling'] = df2['dribbling'].replace({}, regex=True).astype(float).astype(int)
df2['physical'] = df2['physical'].replace({}, regex=True).astype(float).astype(int)
df2['passing'] = df2['passing'].replace({}, regex=True).astype(float).astype(int)
df2['defending'] = df2['defending'].replace({}, regex=True).astype(float).astype(int)
df2['shooting'] = df2['shooting'].replace({}, regex=True).astype(float).astype(int)
df2['total_stats'] = df2['total_stats'].replace({}, regex=True).astype(float).astype(int)
df2['position'] = df2['position'].replace({}, regex=True).astype(float).astype(int)

In [5]:
# Converting Value to decimal money and removing  €, M and K chars
df2['value'] = df2['value'].replace({'€': '', ' ': '', 'M': '', 'K': 'e-03'}, regex=True).astype(float)

In [6]:
#removing zero values
df2 = df2[df2.value != 0]

In [7]:
#removing legend players -- old ones --
df2 = df2[~df2.name.str.contains(r'[0-9]')]
df2

,name,age,overall,potential,position,pace,shooting,passing,dribbling,defending,physical,total_stats,value
0,Coutinho,29,82,82,4,69,79,80,88,52,59,2086,30.000
1,S. Botman,21,79,85,2,60,36,59,61,80,84,1736,25.500
2,D. Vlahović,21,80,86,4,75,82,60,74,28,77,1827,34.000
3,K. Trippier,30,84,84,2,73,63,82,77,80,72,2183,36.500
4,J. Cajuste,21,72,79,3,77,58,68,75,68,77,1930,4.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,V. Ozornwafor,22,64,73,2,60,36,41,39,64,68,1404,1.200
5996,B. Kramer,25,67,72,4,73,65,54,64,36,74,1691,1.500
5997,B. Baggley,19,54,68,4,65,49,51,57,44,41,1456,0.250
5998,F. Tavares,20,61,73,4,86,60,46,60,26,56,1488,0.800
5999,K. Joseph,19,61,76,4,75,60,46,61,22,56,1468,0.775

In [8]:
#drop duplicate players
df2 = df2.drop_duplicates(subset =['name'],ignore_index=True)
df2

,name,age,overall,potential,position,pace,shooting,passing,dribbling,defending,physical,total_stats,value
0,Coutinho,29,82,82,4,69,79,80,88,52,59,2086,30.000
1,S. Botman,21,79,85,2,60,36,59,61,80,84,1736,25.500
2,D. Vlahović,21,80,86,4,75,82,60,74,28,77,1827,34.000
3,K. Trippier,30,84,84,2,73,63,82,77,80,72,2183,36.500
4,J. Cajuste,21,72,79,3,77,58,68,75,68,77,1930,4.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5216,V. Ozornwafor,22,64,73,2,60,36,41,39,64,68,1404,1.200
5217,B. Kramer,25,67,72,4,73,65,54,64,36,74,1691,1.500
5218,B. Baggley,19,54,68,4,65,49,51,57,44,41,1456,0.250
5219,F. Tavares,20,61,73,4,86,60,46,60,26,56,1488,0.800
5220,K. Joseph,19,61,76,4,75,60,46,61,22,56,1468,0.775

In [9]:
df2.to_csv(r'C:\Users\Niv\Desktop\Stuff\HIT\Data Science\Final_Project\eda_df.csv', index = False)